Source: gridcoinresearch
Section: utils
Priority: optional
Maintainer: Richard Leckinger <caraka3@gmail.com>
Build-Depends: debhelper (>= 9),
	devscripts,
	automake,
	libtool,
	libssl-dev,
	libdb-dev,
	libdb++-dev,
	libboost-all-dev (>= 1.55),
	libqrencode-dev,
	libminiupnpc-dev,
	qt-sdk
Standards-Version: 3.9.6
Homepage: http://www.gridcoin.us
#Vcs-Git: git://github.com/gridcoin/Gridcoin-Research.git
#Vcs-Browser: https://github.com/gridcoin/Gridcoin-Research

Package: gridcoinresearchd
Architecture: any
Depends:libboost-all-dev,
	miniupnpc,
	${shlibs:Depends},
	${misc:Depends}
Description: Gridcoin is a peer-to-peer cryptocurrency that uses distributed computing (BOINC) to benefit humanity by advancing the progress of  		medicine, biology, climatology, mathematics, astrophysics, and more.
	
	The aim of the Gridcoin project is to shift the computational power primarily to BOINC projects whilst the POW mining calculations become a 		second priority - so as the mining network scales up, the network's BOINC contribution is scaled up in tandem.
 	
 	This package provides the headless daemon, gridcoinresearchd.

Package: gridcoinresearch-qt
Architecture: any
Depends:libboost-all-dev,
	miniupnpc,
	${shlibs:Depends},
	${misc:Depends}
Description: Gridcoin is a peer-to-peer cryptocurrency that uses distributed computing (BOINC) to benefit humanity by advancing the progress of  		medicine, biology, climatology, mathematics, astrophysics, and more.
	
	The aim of the Gridcoin project is to shift the computational power primarily to BOINC projects whilst the POW mining calculations become a 		second priority - so as the mining network scales up, the network's BOINC contribution is scaled up in tandem.
	
	This package provides gridcoinresearch, a GUI for Gridcoin based on Qt.

