[Desktop Entry]
Encoding=UTF-8
Name=Gridcoin
Comment=Gridcoin P2P Cryptocurrency
Comment[fr]=Gridcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gridcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/gridcoinresearch %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin128.png
MimeType=x-scheme-handler/gridcoin;
Categories=Office;
