[Desktop Entry]
Encoding=UTF-8
Name=Gridcoinresearch-qt
Name[en_NZ]=Gridcoinresearch-qt
Comment=Gridcoin P2P Cryptocurrency
Exec=/usr/bin/gridcoinresearch %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/grc-small.png
MimeType=x-scheme-handler/gridcoin;
Categories=Office;Finance;
