#!/usr/bin/make -f
#-*- mode: makefile; coding: utf-8 -*-

#DEB_INSTALL_EXAMPLES_novacoind += debian/examples/*
#DEB_INSTALL_MANPAGES_novacoind += debian/manpages/*

%:
	dh $@ 

override_dh_auto_build:
	cd src; mkdir -p obj/zerocoin && chmod +x leveldb/build_detect_platform
	cd src; $(MAKE) -f makefile.unix gridcoinresearchd
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f gridcoinresearch; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake-qt4 gridcoinstake.pro USE_QRCODE=1

# Ensure wrapper is set executable
binary-post-install/gridcoinresearchd:
	chmod +x $(cdbs_curdestdir)usr/bin/gridcoinresearchd
binary-post-install/gridcoinresearch:
	chmod +x $(cdbs_curdestdir)usr/bin/gridcoinresearch




